$main-background: #edf2f7;
$component-background: #f9f9f9;
$button-background: #dddddd;
$primary: #2c3e50;
$primary-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0, .06);
$header-height: 5rem;
$error-background: #f3beb8;
$error-border: #f09898;
$modal-mask-background: rgba(0, 0, 0, 0.5);
$modal-container-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
$modal-container-background: #fff;